#root {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}
